body{
    font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
header{
    background-color: whitesmoke;
    width: 100%;
height: 750px;
background-image: url(../images/banner/banner1.png);
}
header > nav{
text-align: right;
padding-top: 200px;
padding-right: 230px;
color: var(--Dark-01, #151414);

}
.all-things{
    font-size: 65px;
font-weight: 700;}
.header-pera{
    color: var(--Dark-02, #444343);
font-size: 16px;
font-weight: 400;
line-height: 26px;
}
.button-primary{
    width: 160px;
height: 64px;
color: #FFF;
font-size: 20px;
font-weight: 600;
border-radius: 5px;
background: #F15B22;
border: none;
}
main{
    margin: 0px 230px;
}